
    form{
        padding-left: 35px;
        padding-bottom: 45px;
        font-size: 1em;
        font-family: "Lucida Console", "Courier New", monospace;
        color: rgb(53, 40, 40);
        border-left: 3px solid #000;
        border-right: 3px solid black;
        border-top: 3px solid black;
        border-bottom: 3px solid black;
    }
  
    p{
        font-size: 1.3em;
        font-family: "Lucida Console", "Courier New", monospace;
        color: rgb(68, 66, 66);
        padding-top: 10px;
    }

    .button {
        background-color: #4CAF50; /* Green */
        border: solid 5px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }