form{
  text-align: left;
  font-size: 1em;
  color: rgb(75, 73, 73);
  font-family: "Lucida Console", "Courier New", monospace;
  padding-top: 15px;
  padding-right: 20px;
  border-radius: 10px;
  padding-left: 30px;

}

p{
  font-size: 1em;
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgb(16, 70, 70);
  padding-left: 30px;
  padding-top: 10px;
}