<p>Welcome to Stock Market</p>
<hr>
<p>Search a company</p>

<!--
<form method="GET" id="userForm"></form>

<table>
    <tr >
        <td>
            <p>Enter company code..</p>
        </td>
        <td>
            <input type="text" name="companyCode" form="userForm" />
            <button type="button" (click)="onSubmit()" form="userForm">Search..</button>
        </td>
    </tr>
</table>  -->

<form [formGroup]="userForm" (submit)="onSubmit()">

    Enter company code: <input type="text" formControlName="companyCode" placeholder="Enter compay code" /><br/>
      <br>
    <button type="submit" [disabled]="userForm.invalid">Seach....</button>
  </form>

  <table class = "tb" id="companyDetails">
    <caption>Company Details</caption>

    <tr *ngIf="company.length>0">
        <th>Company Code</th>
        <th>Company Name ID</th>
        <th>Company CEO</th>
        <th>Company Turnover</th>
        <th>Company Website</th>
        <th>Stock Exchange</th>
        <th>Delete Company</th>
    </tr>
  
    <tr *ngFor="let companyEntity of company">
        <td>{{companyEntity.companyCode}}</td>
        <td>{{companyEntity.companyName}}</td>
        <td>{{companyEntity.companyCEO}}</td>
        <td>{{companyEntity.companyTurnover}}</td>
        <td>{{companyEntity.companyWebsite}}</td>
        <td>{{companyEntity.stockExchange}}</td>
    </tr>
  
  </table>
  